/*general */
* {
    margin: 0;
    padding: 0;
}
body{
font-size: 16px;
line-height: 71px;
font-weight: inter;
}
.wrapper{
   margin: 0 6.5%;
}
.hidden{
   /* visibility: hidden;*/
    overflow: hidden;
    width: 0;
    height: 0;
    margin: -1;
    position: absolute;
}
/* end general */


.site-header {
    background: #242b33;
    color: #100101;
}
.site-header {
    padding-top: 36px;
    padding-bottom: 140px;
    background-image: url("../img/horoshiy-chemodan-prosluzhit-mnogo-let-1024x682\ 1.png");
    background-repeat: no-repeat;
    background-position: left 140px;
   }

.main-nav {
display: flex;
margin-bottom: 115px;
}
.logo {
    width: 65px;
    height: 65px;
    margin-right: 95px; 
}
ul {
    list-style: none;
}
.contact-menu {
    display: flex;
}
.contact-menu a{
    text-decoration:none ;
    display: block;
    color: #fffbfb;
}
.site-menu{
    display: flex;
}
.site-menu a{
    text-decoration:none ;
    display: block; 
    color: #fffbfb;   
    margin-right: 18px;
}
/*.contact-menu li:last-child>a{
    margin-right: 0px;
}*/
.contact-menu {
    display: flex;
    align-items: center;
    margin-left:auto ;
}/*
.contact-menu .icon{
    width: 17px;
    height: 17px; 
    display: block;
}
.contact-menu .icon-phono {
    background: url("../img/phone-icon\ 1.svg")no-repeat;
}*/
.about-us {
    width: 320px; 
    padding-left: 700px;
   }
.about-us h1 {
    font-family: 'Inter';
    line-height: 75px;
    font-size: 64px;
    margin-bottom: 30px;
   }

.btn {
    text-decoration: none;
    display: inline-block;
    position: relative;
    padding: 5px 48px;
    text-transform: uppercase;
    color:#000;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    padding-right: 60px;

}
.btn-LightYellow {
    background-color: #F4F4EC;

}
main .wrapper h1{
    text-align: center;
    font-size: 60px;
   }
.advantage{
    background: #242B33;
   padding: px 0;
}
.advantage-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}
.advantage-list li{
    padding-top: 115px;
    width: 180px;
}
.advantage-list li::after{
    content: "";
    width: 60;
    height: 68;

    position: absolute;
}
.advantage-item{
    flex-basis: 180px;
    background-color: #F4F4EC;
     margin: 0;
    padding: 0;
   
  
}
.advantage-item::before{
    content: "";
    display: block;
    margin-bottom: 20px;
    }

.advantage-ticket{
background: url("../img/Group.png") no-repeat;
}
.advantage-hotel{
    background: url("../img/Frame-1.png") no-repeat;
}
.advantage-transfer{
    background: url("../img/Frame-2.png") no-repeat;
}
.advantage-vip{
    background: url("../img/Frame-3.png") no-repeat;
    }
    .advantage-insurance{
        background: url("../img/Frame-4.png") no-repeat;
    }
    .advantage-mice{
        background: url("../img/Frame.png") no-repeat;
    }
main .wrapper h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Inter';
     color: #FFFBFB;
}
.vacation {
    background-image: url("../img/Microphone-1935-791.jpg");
    background-repeat: no-repeat;
   
}
.content {
    color: #000;
   padding: 80px 0 100px;

}
.colom-container {
    display: flex;
    gap: 10px 80px;
    flex-wrap: wrap;
    line-height: 30px;
}
.left-column, .right-column {
    width: 500px;

}
.content p {
    margin-top: 25px;
}
.lead {
 font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;
}
.content .lead {
margin: 0 0 20px;
}
.uniqueness {
    padding-left: 0px;
}
.uniqueness li{
    margin-bottom: 28px;
    position: relative;
}
.content .wrapper:first-child {   
    margin-bottom: 300px;
   
}
/* спросить как уменьшить контейнер и сдвинуть в лево /*
